@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:  sans-serif, 'Poppins';
    height: 100vh;
    /* background-color: #292d35; */
}

.container {
    display: flex;
}

.contact-card {
    display: block;
    box-shadow: 10px 10px 8px 10px #c6a9a9;
    /* border: solid 1px black; */
    max-width: fit-content;
    max-height: fit-content;
    margin: 20px;
    border-radius: 10px;
}

.contact-card > img {
    align-items: center;
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}

.contact-card > .info {
    margin: 10px;
}